---
BasedOnStyle: Chromium
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Right
AlignOperands: 'true'
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
ColumnLimit: 120
ContinuationIndentWidth: 8
IndentWidth: 8
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 2
SortIncludes: CaseSensitive
TabWidth: 8
UseTab: Never
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
IndentAccessModifiers: true
AccessModifierOffset: -4

...
